/*
CSS para estilizar no caso de desktops:
*/
@media only screen and (min-width: 900px) {

    #imgDesktop {
        display: block;
    }

    #imgMobile {
        display: none;
    }

    #logo,
    #infolivro,
    #nomeVersao,
    .btPlayPause,
    .btsMuda {
        cursor: pointer;
    }

    .imgLogo {
        width: 10%;
    }

    #btPlay,
    #btPause {
        width: 25%;
        height: 25%;
    }

    .btsMuda {
        width: 5%;
    }

    .infoLivro {
        display: block;
        top: 9%;
    }

    #nomeLivro {
        font-size: 6em;
    }

    #nroCapitulo {
        font-size: 7em;
        margin: -30px auto;
        padding-left: 0;
        font-size: 6em;
    }

    .nomeVersao {
        font-size: 2.5em;
    }

    .nvi,
    .rv {
        padding-left: 70px;
    }

    .h3 {
        font-size: 2em;
        margin-top: 20px;
    }

    .quadriculaLivro,
    .quadriculaCapitulo {
        font-size: 1.7em;
    }

    .cabecalho,
    .cabecalhoCapitulos {
        font-size: 1.5em;
    }

    .icons {
        width: 20%;
    }
    
}

@media only screen and (min-width: 1000px) {

    .menu img {
        width: 7%;
        height: 7%;
    }

}